<p>Salut <%= name %>,</p>
<p>
    Merci de vous être inscrit à Mail App. Nous sommes très heureux de vous avoir à bord.
</p>

{% comment %} <p>Pour commencer à utiliser Mail App, veuillez confirmer votre compte ci-dessous :</p>
<p>
  <a href="<%= confirmation_url %>">Confirmez votre compte</a>
</p>

<p>
  Si vous rencontrez des difficultés pour cliquer sur le bouton de confirmation du compte, copiez et collez
  l'URL ci-dessous dans votre navigateur Web.
</p>

<a href="<%= confirmation_url %>"><%= confirmation_url %></a> {% endcomment %}
